version: "3.4"

services:
  db:
    image: postgres:14.1-alpine
    env_file:
      - ./db/env.db
    ports:
      - "5432:5432"
    expose:
      - 5432
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  app:
    build:
      dockerfile: ./production/Dockerfile
      # context: .
      # # Only will build development stage from our dockerfile
      # target: development
    env_file:
    - .env
    depends_on:
      - db
    expose:
      - 3000
    # command: ./production/copy-certs.sh

  nginx:
    build:
      context: ./production
      dockerfile: nginx.Dockerfile
    restart: always
    ports:
      - 8000:80
    depends_on:
      - app

  
volumes:
  pgdata: